<ion-content>
    <ion-slides pager>

        <ion-slide>
            <div class="diag" style="margin-top: 50px;background: url('assets/img/fandv.svg') no-repeat ;height: 200px ">
                <img src="assets/img/fandv.jpg ">
            </div>


            <div style="height: 300px ;margin-top: 50px">

                <h2>Vegetables & Fruits</h2>
                <p>All freash products are here .</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="margin-top: 50px;background: url('assets/img/fandv.svg') no-repeat ;height: 200px ">
                <img src="assets/img/meat.jpg ">
            </div>


            <div style="height: 400px ;margin-top: 90px">

                <h2>Meats & Poultry</h2>
                <p>Freah meat.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="margin-top: 50px;background: url('assets/img/fandv.svg') no-repeat ;height: 200px ">
                <img src="assets/img/fish.jpg ">
            </div>


            <div style="height: 400px ;margin-top: 90px">

                <h2>Seafood</h2>
                <p>Freash seafood.</p>
            </div>

        </ion-slide>

    </ion-slides>


    <ion-button (click)="skip()" id="skip">skip</ion-button>
</ion-content>